.main_App {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #1b1a1a;
}
.main_title {
  color: white;
  font-size: 80px;
}
.dashboard {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: baseline;
}
.dashboard-title {
  margin-bottom: 6px;
  margin-top: 6px;
  padding-left: 17px;
  color: white;
  font-size: 12px;
  width: 100vh;
}

.custom-menu-paper {
  width: 230px;
  background: #1b1b1b !important;
  color: #c7c7c7 !important;
  left: 82px !important;
  margin-top: 10px;
}
.hide-scroll-buttons {
  display: none !important;
}
.channel-tab-user-image {
  width: 18%;
  margin: 0 10px;
}

.footer {
  margin-top: 157px;
  color: white;
}
